// * {
//     outline: 1px solid pink;
// }

body {
    background-color: $primary-bg;
    scroll-behavior: smooth;
}

.app-container {
    min-height: 100vh;
    max-width: 32.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    * {
        font-family: $body;
        color: $p-white;
    }
}

.forecast-card {
    @include card;
    margin-bottom: 1rem;
    padding: $padding-secondary;
    display: flex;
    justify-content: space-between;
    svg {
        align-self: center;
        height: 1.5rem;
        min-width: 3rem;
    }
}


// RESET

p, h3{
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}



