// * {
//     outline: 1px solid pink;
// }

body {
    scroll-behavior: smooth;
    margin: 0;
    background-color: $primary-bg;
    * {
        font-family: $body;
        color: $text-clr;
    }
}

.app-container {
    min-height: 100vh;
    max-width: 32.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forecast-card {
    @include card;
    margin-bottom: 1rem;
    padding: $padding-secondary;
    display: flex;
    justify-content: space-between;
    svg {
        align-self: center;
        height: 1.5rem;
        min-width: 3rem;
    }
}

.forecast-descriptors {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    gap: 1rem;
    
    font-size: 0.75rem;
    .wind-cell {
        padding-right: 0.5rem;
    }
    .rain-cell {
        padding-right: 0.2rem;

    }
}


// RESET

p, h3{
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}



