.header {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.233) 100%);   
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-quaternary;

    @media($md) {
        padding: $padding-primary;

    }
    .logo {
        height: 4rem;
    }
    .row {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        @media($md) {
            font-size: 1.3rem;

            gap: 1rem
        }
    }
}

.skeleton-location {
    min-width: 117px;
    height: 1.3rem;
    @media($md) {
        height: 1.5rem;
        min-width: 163px;
    }
}

