.hourly-forecast {
    width: 100%;

    .right-cell {
        display: flex;
        text-align: center;
        gap: 1.7rem;
        & div:last-child {
            min-width: 50px;
            // background-color: pink;
        }
        
    }    
}