input {
    @include card;
    border:none;
    border-radius: $radius-max;
    padding: $padding-secondary;
    margin: 2em 0;
    font-size: 12px;

    position: relative;
    &::placeholder {
        font-family: $body;
        color: $text-clr;
    }
}

.search-results {
    @include card;
    background-color: $primary-bg;
    padding: $padding-primary;

    position: absolute;
    top: 65px;
    right: 1.5rem;

    li {
        font-size: 12px;
        padding: 0.5rem 0;
        border-bottom: 1px solid $text-clr;
        &:hover {
            cursor: pointer;
        }
    }

}