
// Fonts
$body: "Poppins";

// Colors
$p-black: hsl(0, 0%, 0%);
$p-white: hsl(0, 0%, 100%);

$primary-bg: #20a2be;


// Radius

$radius: 1rem;

// padding

$padding-primary: 1rem 1.5rem;

// Gradient

$gradient-1: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.09) 100%);