
// Fonts
$body: "Poppins";

// Colors
$p-black: hsl(0, 0%, 0%);
$p-white: hsl(0, 0%, 100%);

$primary-bg: #20a2be;

$transparant-1: rgba(255, 255, 255, 0.30);
$transparant-2: rgba(255, 255, 255, 0.09);


// Radius
$radius-min: 0.5rem;
$radius: 1rem;

// padding

$padding-primary: 1rem 1.5rem;

// Gradient

$gradient-1: linear-gradient(180deg, $transparant-1 0%, $transparant-2 100%);