
// Fonts
$body: "Poppins";

// Colors
$p-black: hsl(0, 0%, 0%);
$p-white: hsl(0, 0%, 100%);



$transparant-1: rgba(255, 255, 255, 0.30);
$transparant-2: rgba(255, 255, 255, 0.09);

$shadow: rgba(19, 89, 105, 0.197);

$primary-50: #eefcfd;
$primary-100: #d5f4f8;
$primary-200: #b0e8f1;
$primary-300: #79d7e7;
$primary-400: #3bbbd5;
$primary-500: #20a2be;
$primary-600: #1d809d;
$primary-700: #1e6880;
$primary-800: #215669;
$primary-900: #204859;
$primary-950: #0f2f3d;

$primary-bg: $primary-500;

$primary-accent: $primary-600;

// Radius
$radius-min: 0.5rem;
$radius: 1rem;
$radius-max: 50px;

// Padding
$padding: 2rem;
$padding-primary: 1rem 1.5rem;
$padding-secondary: 0.5rem 1rem;
$padding-tertiary: 0 1rem;
$padding-quaternary: 0.5rem 0;

// Gradient
$gradient-1: linear-gradient(180deg, $transparant-1 0%, $transparant-2 100%);



// Color theme
$text-clr: $p-white;

// Measurements 

$box-x: min(100%, 15rem);
$box-x-l: min(100%, 20rem);


// Breakpoints - mobile first
$xs: "width >= 360px";
$sm: "width >= 576px";
$md: "width >= 768px";
$lg: "width >= 992px";
$xl: "width >= 1200px";
