.forecast-descriptors {
    font-size: 0.75rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: end;
    text-align: center;
}

.weekly-forecast {
    width: 100%;

    .forecast-card {
    
        display: flex;
        justify-content: space-between;

        .date-cell {
            display: flex;
            padding: $padding-primary;
            align-items: center;
            gap: 1rem;
        }
        .weather-cell  {
            display: flex;
            gap: 2.4rem;
            .temp-cell {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 50px;
                justify-content: space-between;
            }
            
        }
        &:hover {
            cursor: pointer;
            background: $transparant-1;
        }
    }
    
}

